#maincon{
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  padding: 20px;
  margin: auto;
  text-align: center;
  align-items: center;
}
img{
  width: 400px;
  border-radius: 7px;
}
#prom{
  margin: 10px;
  padding: 2px;
  font-size: 28px;
  font-weight:700;
}
hr{
  width: 300px;
}
#buy{
  margin: 10px;
  font-size: 20px;
}
span{
  margin: 1px;
  font-weight: 700;
  padding: 3px;
  margin-top: 4px;
}
.money{
  color:#8A2BE2;;
}
#cost{
  color: gray;
}
#off{
  background-color:rgba(87, 205, 205, 0.903);
  color: white;
  border-radius: 7px;
}